.blog {
  width: 100%;
  height: 100%;
  overflow: scroll;
  min-height: 80vh;
  &__top-content {
    width: 100%;
    height: 200px;
    position: relative;
  }
  &__actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 50px;
    margin-top: 20px;
  }
  &__main-image {
    width: 100%;
    height: 100%;
  }
  &__title {
    width: 40%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 31%;
  }
  &__date-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__date {
    font-size: 15px;
    margin-right: 15px;
  }
  &__main-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 80vh;
  }
  &__edit,
  &__delete {
    cursor: pointer;
  }
  &__edit {
    height: 24px;
  }
}
