.role-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  &__role {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    box-sizing: border-box;
    border-radius: 15px;
    gap: 15px;
  }
  &__role-name {
    margin-left: 10px;
  }
  &__select {
    margin-right: 10px;
  }
  &__save,
  &__delete,
  &__select {
    cursor: pointer;
  }
  &__save-user {
    width: 25.73px;
    height: 30px;
  }
  &__save-user:disabled &__save {
    color: gray;
  }

  &__delete-user:disabled &__delete {
    color: gray;
  }
  button {
    all: unset;
  }
}
