.menu {
  font-size: 40px;
  width: 150px;
  height: 240px;
  padding-top: 20px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: -220px;
  transition: 1s;
  color: white;
  z-index: 1;
  filter: opacity(85%);
  border-radius: 20px;
  &__user {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px white;
    border-bottom: outset;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    width: 100%;
    height: 50px;
    filter: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__userIcon {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    background-image: url("https://images.unsplash.com/photo-1551701113-81430bbf084c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=35&h=35&dpi=2&fit=crop&crop=entropy");
  }
  &__list-items {
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 15px;
  }
  &__list-item {
    margin-bottom: 20px;
  }
  &__list-item a {
    text-decoration: none;
    color: white;
  }
}

@keyframes open-menu {
  0% {
    top: -225px;
  }
  100% {
    top: 95px;
  }
}

@keyframes close-menu {
  0% {
    top: 95px;
  }
  100% {
    top: -225px;
  }
}
