@font-face {
  font-family: "Boozy";
  src: url(BOOZY_REGULAR.otf);
}
@font-face {
  font-family: "Beast";
  src: url(Beast\ Impacted_0.ttf);
}
@font-face {
  font-family: "Coffee";
  src: url(Coffee\ Bear.otf);
}
@font-face {
  font-family: "Renju";
  src: url(Renju.otf);
}
@font-face {
  font-family: "SAIBA Outline";
  src: url("SAIBA-45-Outline-\(v1.1\).otf");
}
@font-face {
  font-family: "SAIBA Regular";
  src: url("SAIBA-45-Regular-\(v1.1\).otf");
}
@font-face {
  font-family: "Elite";
  src: url("SpecialElite\ \(Rus\ by\ Lomzz\).ttf");
}
