.main-content {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  &__section {
    position: relative;
    width: 100%;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("../../images/main-page-background.png");
    background-size: cover;
    background-origin: border-box;
    background-position: top;
  }
  &__auth-input {
    padding: 15px;
    background-color: #2f2d2dc2;
    border-radius: 15px;
    width: 400px;
    color: white;
    font-family: "Elite";
    font-size: 25px;
  }
  &__auth-input:focus {
    outline: none;
  }
  &__arrow-container {
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 70px;
  }
}
.cards-section {
  background-image: url("../../images/content-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  &__scrollable-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    overflow-y: scroll;
  }
  &__container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}

.drop-down-icon {
  position: absolute;
  top: 0;
  animation: key-down-move alternate;
  animation-duration: 2s;

  animation-iteration-count: infinite;
}
@keyframes key-down-move {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
