.footer {
  max-height: 450px;
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: 0px -7px 15px 12px black;
  &__container {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 10px;
  }
  &__weather {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
