.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-container {
}

.footer {
  width: 100%;
  min-height: 250px;
  background-color: black;
  color: white;
}

.container {
}

.icon {
  font-size: inherit;
}
