.blog-card {
  font-size: 0.5em;
  max-width: 350px;
  width: 100%;
  height: 500px;
  font-family: "Droid Serif", serif;
  color: #fff;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.5);
  background-color: #39454a33;
  margin-top: 30px;
  position: relative;
  border-radius: 5px;
}
.utility-info {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
a {
  text-decoration: none;
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}

.blog-card:hover .title-content {
  margin-top: 70px;
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  width: 100%;
  transition: all 0.6s;
}

.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

.blog-card h3,
h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  margin-bottom: 0;
  display: inline-block;
}
.blog-card h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.blog-card h3 a:hover {
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background-color: #bcb8a3;
  transition: all 0.2s;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}

.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  bottom: -40px;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
  max-width: 325px;
  max-height: 165px;
  &__content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  &__post-link {
    display: block;
    width: 100px;
    margin: 15px auto;
    background: #fff;
    color: #444;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 0.8em;
  }
  &__post-link:hover {
    background: black;
    color: #fff;
    transition: 0.3s;
  }
}

.utility-info a:hover {
  text-decoration: underline;
}

.utility-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  li {
    background-color: #3f3e3e4a;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

.icon-container {
  font-size: 0.8em;
  display: flex;
  gap: 10px;
}

.licon:before {
  content: "";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px
    no-repeat;
  background-size: 250px;
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  left: 0;
}

.icon-like:before {
  background-position: -183px -6px;
}
.icon-com {
  margin-left: 15px;
}
.icon-com:before {
  background-position: -63px -4px;
}
.icon-dat:before {
  background-position: -94px -7px;
}
.icon-tag:before {
  background-position: -33px -6px;
}

.img {
  width: 100%;
  display: block;
  margin: auto;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card:hover .img {
  filter: blur(7px);
  transition: 0.6s;
}

.img2 {
  width: 70px;
  z-index: 1;
  position: absolute;
  left: 40%;
  top: 0;
}
