.users {
  width: 100%;
  height: 100%;
  background-image: url("../../images/content-background.png");
  background-size: cover;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blur-test reverse;
  animation-duration: 1s;
  &__scrollable {
    background-color: black;
    height: 75vh;
    overflow-y: scroll;
    box-shadow: 0px 15px 30px 30px black;
  }
  &__table {
    padding: 20px;
    :last-child {
      border: 0;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1px;
    border-bottom: 1px solid white;
    background-color: white;
  }
  &__cell {
    background-color: black;
    height: fit-content;
    padding: 15px;
  }
}

@keyframes blur-test {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
