.users {
  width: 100%;
  height: 100%;
  background-image: url("../../images/content-background.png");
  background-size: cover;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blur-test reverse;
  animation-duration: 1s;
  &__scrollable {
    transition: 1s;
    max-width: 70vw;
    background-color: black;
    height: 75vh;
    overflow-y: scroll;
    box-shadow: 0px 15px 30px 30px black;
    animation: table-open forwards 0.5s;
  }
  &__error {
    width: 100%;
    height: 100%;
  }
}

@keyframes table-open {
  0% {
    width: 7px;
  }
  100% {
    width: 75vw;
  }
}
